<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>
	<servlet>
		<servlet-name>GradeQuiz</servlet-name>
		<servlet-class>org.adastraeducation.liquiz.servlet.GradeQuiz</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GradeQuiz</servlet-name>
		<url-pattern>/GradeQuiz</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TestPost</servlet-name>
		<servlet-class>org.adastraeducation.liquiz.servlet.ReadBody</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestPost</servlet-name>
		<url-pattern>/GetBody</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Create Questions</description>
		<display-name>Create Questions</display-name>
		<servlet-name>Util</servlet-name>
		<servlet-class>org.adastraeducation.liquiz.servlet.Util</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Util</servlet-name>
		<url-pattern>/addQuestion</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Judge for Log in</description>
		<display-name>Judge for Log in</display-name>
		<servlet-name>LoginJudge</servlet-name>
		<servlet-class>org.adastraeducation.liquiz.servlet.LoginJudge</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginJudge</servlet-name>
		<url-pattern>/LoginJudge</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>Register to database and send an email</description>
		<display-name>Register to database and send an email</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>org.adastraeducation.liquiz.servlet.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>runCode on the website</description>
		<display-name>runCode on the website</display-name>
		<servlet-name>runCode</servlet-name>
		<servlet-class>org.adastraeducation.liquiz.servlet.runCode</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>runCode</servlet-name>
		<url-pattern>/runCode</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
