* {
    box-sizing: border-box;
}

.quiz {
    font-family: Arial, san-serif;
    background-color: #e0e0ff;
    font-size:18pt;
}

.points {
}

.qc {
    background-color: #0040f0;
    font-size: 12pt;
    font-weight: normal;
    border-style: none;
    padding: 3px;
    margin: 5px;
}

.match-qc td {
    padding: 1px 4px;
}

.mcRadioImg-qc td {
    padding: 2px;
}

.qheader {
    background-color: #8080d0;
    padding: 0px;
    margin: 1px;
    width: 100%;
    height: 32px;
}

.qheader h2 {
    display: inline-block;
}

.qheader .float-right {
    float: right;
}

.qheader .qpoints,
.qheader .level,
.qheader .edit {
    display: inline-block;
    padding: 0 10px;
}

.qheader .edit {
    padding-right: 0;
}

h2 {
    font-size: 16pt;
    margin: 0;
}

.qpoints .level {
    font-size: 10pt;
}

.fillin .number {
    font: 12pt Courier bold;
    background-color: white;
    color: black;
}

.code {
    font: 12pt monospace;
    background-color: black;
    color: #00ff20;
    width: 95%;
    rows: 10;
    cols: 80;
    padding: 4px;
}

.code input {
    font: 12pt monospace;
    color: #00ff20;
    background-color: black;
    border-color: black;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #00ff20;
    border-width: 1px;
    text-align: center;
    width: 100px;
}

.varEdit {
    
}

.multichoicedropdown {


}

.multichoiceradio {


}

.instructions {
    background-color: #f88;
    font: 14pt Arial, sanserif;
}

.box {
    background-color: #8f8;
    border: 1 solid #000;
}

.matrix,
table {
    font: 10pt Courier, fixed;
    background-color: #DEE4E6;
    /*display: inline-block;*/
    border: 1px solid black;
    border-collapse: collapse;
    width: 700px;
}

td,
th {
    border: 1px solid black;
}

.matrix td {
    border: 1px solid black;
    width: 50px;
    margin: 1px;
    /*padding: 2px;*/
    background-color: #aaa;
}

.matrix td span {
    padding: 2px;
}

.matrix input {
    /*border-width: 1px;*/
    width: 70px;
    height: 100%;
    border: none;
    padding: 2px;
    background-color: white;
}

.matrix img {
    width: 100px;
}

.cell {
    background-color: white;
    width: 40px;
}

.submit {
/*    font-family: Arial;
    font-size: 16pt;
    font-weight: bold;*/
    background-color: #00e;
    /*color: white;*/
}

.new-question-button {
    display: block;
}

input {
    outline: none;
}

input[disabled] {
    background-color: white;
    border-width: 1px;
    color: black;
    padding: 2px;
    text-decoration-color: white;
}

img {
    width: 300px;
    height: auto;
}

#menu {
	font-family: Arial, sanserif;
	font-size: 12pt;
	width: 100%;
	background-color: #def;
}
#menu div {
  float: right;
}
#menu a, #menu a:link{
	background: #8f8;
	border-radius: 5px;
    padding: 2px; 
    width: 70px;
    height: 30px; 
    font-weight: bold;
    text-decoration: none;
}
#menu a:hover {
	background: #8d0;
	border-radius: 5px;
    padding: 2px; 
    width: 65px;
}

/*.mi {
  background-color: #04c;
  color: #fff;
}
*/
#menu input {
	width: 100px;
}

#login {
	width: 60px;
	background: #0b5;
	foreground: #fff;
	font-family: Arial;
	font-weight: bold;
	border-radius: 8px;
}
/*.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}

.mi:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}*/

img.logo {
    width: 141px;
    height: 32px;
}

.edit-quiz {
    /*width: 200px;*/
    height: 32px;
	float: right;
    font-size: 16px;
}

.response { /*teacher feedback when showing the graded quiz*/
	/*placeholder to specify response classname*/
}

input#title {
    font-family: Arial, sanserif;
    font-size: 14pt;
    width: 600px;
}

input[disabled] {
    background-color: #a22;
    color: white;
}

.answers {
    background: #8d;d
    width: 300px;
}

input.editpattern {
    width: 100%;
    size: 60;
    background: #f00;
}

