* {
	box-sizing: border-box;
}
table {
	font-family: monospace;
}
.clickableimage {
	position: relative;
	top: 0px;
	left: 0px;
}

input[type="file"] {
	display: none;
}

.edit-quiz>label{
	
}

.quiz {
	font-family: Arial, san-serif;
	background-color: #E2EDFF;
	font-size: 18pt;
}

.points {}

.qc {
	background-color: #A7C1E8;
	font-size: 12pt;
	font-weight: normal;
	border-style: solid 0px;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
}

.match-qc td {
	padding: 1px 4px;
}

.mcRadioImg-qc td {
	padding: 2px;
}

.header {
	padding: 10px;
}

.qheader {
	background-color: #7A9DD2;
	margin: -10px -10px 10px -10px;
	padding: 5px 5px 3px 5px;
	border: solid;
	border-width: 0 0 2px 0;
	border-radius: 10px 10px 0 0;
	border-color: #ffffff;
}

.qheader h2 {
	display: inline-block;
}

.qheader .float-right {
	float: right;
}

.qheader .qpoints,
.qheader .level,
.qheader .edit {
	display: inline-block;
	padding: 0 10px;
}

.qheader .edit {
	padding-right: 0;
}

h2 {
	font-size: 16pt;
	margin: 0;
}

.qpoints .level {
	font-size: 10pt;
}

audio {
	vertical-align: middle;
}

video {
	vertical-align: middle;
}

.essay,
.code {
	max-width: 100%;
}

.essay {
	vertical-align: middle;
	display: block;
}

.fillin .number {
	font: 12pt Courier bold;
	background-color: white;
	color: black;
}

#blankbox {
	font-family: monospace;
	font-size: 16px;
	width: 600px;
}

.code {
	font: 12pt monospace;
	background-color: black;
	color: #00ff20;
	width: 95%;
	rows: 10;
	cols: 80;
	padding: 4px;
}

.headbtn {
	background-color: #7A9DD2;
	color: #ffffff;
	border: solid 0px;
}

.code input {
	font: 12pt monospace;
	color: #00ff20;
	background-color: black;
	border-style: none;
	border-bottom-style: solid;
	border-bottom-color: #00ff20;
	border-width: 0px 0px 1px 0px;
	text-align: center;
	width: 100px;
}

.varEdit {}

.multichoicedropdown {}

.mdradio {
	text-align: center;
}

.instructions {
	background-color: #7A9DD2;
	margin: 16px 10px 16px -10px;
	padding: 3px 3px 3px 8px;
	border: 0px;
	border-radius: 0 5px 5px 0;
	font: 14pt Arial, sanserif;
}

.quizdataheader {
	color: #ffffff;
	background-color: #7A9DD2;
	margin: 0 30px 16px -10px;
	padding: 3px 3px 3px 8px;
	border: 0px;
	border-radius: 0 0 5px 0;
	font: 14pt Arial, sanserif;
}

.box {
	background-color: #8f8;
	border: 1 solid #000;
}

table {
	font: 10pt Courier, fixed;
	background-color: #DEE4E6;
	/*display: inline-block;*/
	border-collapse: collapse;
}

.mcRadioTable img {
	border-radius: 5px;
}

.mcRadioTable {
	border: solid 0px;
	border-radius: 5px;
	overflow: hidden;
}

.mcRadioTable td {
	border: solid 0px;
	padding: 3px 3px 0 3px;
	border-width: 0 0 1px 1px;
	border-color: #A1A5A7;
}

.qetitlehold {
	text-align: center;
	font-size: 16px;
}

.qetitle {
	display: inline-block;
	padding: 5px 32px 0 32px;
	border-radius: 10px 10px 0 0;
	background-color: #A7C1E8;
	color: #ffffff;
	margin: 3px 3px 0 3px;
}

.qelabel {
	display: inline-block;
	padding: 5px;
	font-size: 16px;
	border-radius: 10px;
	background-color: #A7C1E8;
	color: #ffffff;
	margin: 3px;
	line-height: normal;
}

.matrix {
	font: 10pt Courier, fixed;
	background-color: #DEE4E6;
	display: inline-block;
	border-collapse: collapse;
	background-color: #ffffff;
	vertical-align: middle;
}

td {
	border: 1px solid black;
}

.matrix td {
	border: 1px solid black;
	//width: 30px;
	margin: 1px;
	/*padding: 2px;*/
}

.mcdropdown {
	width: 250px;
}

.matrix td span {
	padding: 2px;
}

.grid-input {
	/*border-width: 1px;*/
	width: 100%;
	height: auto;
	border: none;
	text-align: center;
	background-color: white;
}


.cell {
	background-color: #DEE4E6;
	width: 70px;
	text-align: center;
	height: 20px;
}

.submit {
	/*    font-family: Arial;
    font-size: 16pt;
    font-weight: bold;*/
	background-color: #A7C1E8;
	/*color: white;*/
}

.new-question-button {
	display: block;
}

input {
	outline: none;
}

h1 {
	margin: 0px;
}

.loginform {
	position: relative;
}

.loginformabs {
	padding: 5px 5px 5px 5px;
	border: solid 0px;
	border-radius: 0 0 5px 5px;
	background-color: #355380;
	position: absolute;
	right: 30px;
	top: 0px;
}

.header h1 {
	background-color: #A7C1E8;
	margin: 16px 10px 0 -10px;
	padding: 3px 3px 3px 8px;
	border: 0px;
	border-radius: 0 5px 5px 0;
	color: #285479;
}

.editBox h1 {
	background-color: #A7C1E8;
	margin: 16px 30px 16px 0;
	padding: 3px 3px 3px 8px;
	border: 0px;
	border-radius: 0 5px 5px 0;
}

#menu {
	font-family: Arial, sanserif;
	font-size: 12pt;
	width: 100%;
	background-color: #7A9DD2;
}

.mi,
.mi:link {
	color: #ffffff;
	padding: 2px;
	width: 70px;
	height: 30px;
	margin-right: 30px;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}

.midropdown {
	display: none;
	position: absolute;
	width: 200px;
	background: #7A9DD2;
	border: solid 0px;
	border-width: 0 2px 2px 2px;
	border-radius: 0 0 10px 10px;
	border-color: #A7C1E8;
	padding: 20px;
}

.midropdown .mi {
	line-height: 30px;
}

.mi:hover {
	text-decoration: underline;
}


/*.mi {
  background-color: #04c;
  color: #fff;
}
*/

#menu input {
	width: 100px;
	border: solid 0px;
}


/*input[type="button"]{
	background: #7A9DD2;
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	border: solid 0px;
	border-radius: 0px;
	margin-left: -1px;
	margin-right: -1px;
	
	
}*/

.mcRadioVert td {
	padding: 3px 5px 3px 5px;
}

.survey {
	text-align: center;
}

.survey td {
	padding: 3px 5px 3px 5px;
}

.survey th {
	padding: 5px;
}

.paramulti {
	background-color: #A7C1E8;
	border: solid 0px;
	border-radius: 0px;
	min-width: 150px;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
}

.paramultileft {
	border-radius: 5px 0 0 0;
}

.paramultiright {
	border-radius: 0 5px 0 0;
}

.paramultiselected {
	background-color: #6083B9;
}

#login {
	width: 60px;
	background: #6083B9;
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	border: solid 0px;
	border-radius: 5px;
}

.headdisplay {
	display: inline-block;
}

img.logo {
	width: 108px;
}

#menu ul {
	position: absolute;
	margin-left: 108px;
}

#menu li {
	list-style: none;
	display: inline-block;
}


/*.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}

.mi:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}*/

.quizimg {
	width: 300px;
	height: auto;
}

.edit-quiz {
	/*width: 200px;*/
	height: 32px;
	float: right;
	font-size: 16px;
}

.response {
	/*teacher feedback when showing the graded quiz*/
	/*placeholder to specify response classname*/
}

input#title {
	font-family: Arial, sanserif;
	font-size: 16px;
	width: 600px;
	border: solid 1px;
	border-color: #000000;
	border-radius: 5px;
	margin: 0 3px 3px 3px;
	box-sizing: content-box;
}

.answers {
	background: #8dd;
	width: 300px;
}

.writervariable {
	color: #f00ff0;
	text-decoration: underline;
}

input.editpattern {
	width: 100%;
	size: 60;
	background: #f00;
}

.editctrl {
	height: 30px;
	margin: 3px;
	font-size: 16px;
}

.editint {
	size: 4;
	width: 50px;
}

.editdouble {
	background: #00f;
	size: 6;
	width: 75px;
}

.question {
	width: 100%;
}

.surveyQuestion {
	size: 80;
	width: "100%";
}


/*.calMonth {
    background: #20a;
    width: 100%;
}*/

.calendar {
	background: #807888;
	width: 90%;
}

.cal {
	background: #888;
}

.hol {
	background: #d00;
}

.file-popup {
	position: fixed;
	left: 50%;
	top: 10%;
	margin: 30px auto 0;
	margin-left: -380px;
	/*margin-top: -40px;*/
	padding: 6px;
	width: 760px;
	border: 3px solid #000;
	border-radius: 7px;
	background: #fff;
}

.file-header {
	text-align: center;
	margin: 0;
}

.file-close {
	position: absolute;
	top: 6px;
	left: 672px;
}

.file-item {
	display: block;
}

.file-item:hover {
	background-color: #268666;
}

input[disabled] {
	border-width: 0px;
	color: black;
	background-color: #DEE4E6;
	color: #444;
}