.printing *,
.printing,
.printing h1 {
	background-color: rgba(255, 255, 255, 0);
	color: #000000;
	border: solid 0px;
}

.printing #menu,
.printing #currentStatus,
.printing .quizdataheader,
.printing .submit,
.printing #header-control,
.printing .edit,
.printing .level{
	display: none;
}

.printing input {
	border-bottom-width: 1px;
	background-color: rgba(255, 255, 255, 0);
	color: rgba(255, 255, 255, 0);
	border-color: #000000;
}

.printing .grid-input {
	border: solid 0px;
}

.printing .header h1 {
	font-size: 1.5em;
	margin-left: 0px;
  padding: 0px;
}

.printing .qc,
.printing td {
	border: solid 1px;
	border-color: black;
}

.printing .mcRadioTable * {
	border-color: black;
}

.printing .mcRadioTable {
	border: solid 1px black;
	overflow: visible;
}

.print-only{
	display: none;
}

.printing .print-only{
	display: block;
}

